/* Lane styles */
.Lane {
  padding: 20px;
  background-color: rgb(95, 85, 85);
  width: 290px;
  min-height: 300px;
  border: 1px rgb(236, 215, 215) solid;
  margin: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(236, 215, 215);
  position: relative;
}

button {
  display: inline-block;
  color: rgb(236, 215, 215);
  background: rgb(6, 192, 99);
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 1000px;
  float: left;
  outline: none;
  border: none;
  margin: 20px 20px 20px 0; 
  font-weight: 600; 
}

.ButtonDelete {
  position: absolute;
  top: -27px;
  right: -35px;
  border: 1px solid white;
  background-color: rgb(95, 85, 85);
}
